.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10;
    flex-direction: column;
}

.flex-container div {
    background-color: blue;
    padding: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery div {
    flex: 1 1 calc(25%-10px);
    height: 100px;
    background-color: rgb(46, 247, 247);
}

.header {
    flex: 1 100%;
    background-color: rgb(209, 255, 167);
    padding: 20px;
    text-align: center;
}

.home {
    flex: 1 60%;
    background-color: rgb(34, 110, 110);
    padding: 20px;
    text-align: center;
}

.content {
    flex: 2 60%;
    background-color: rgb(21, 255, 0);
    padding: 20%;
    text-align: center;
}

.sidebar {
    flex: 1 20%;
    background-color: rgb(231, 34, 166);
    padding: 20px;
    text-align: center;
}

.footer {
    flex: 1 100%;
    background-color: rgb(255, 0, 21);
    padding: 20px;
    text-align: center;
}